.header {
    position: fixed;
    z-index: 100;
    background: white;
    width: 100%;
    height: 5rem;
    padding: 1rem 2rem; /* Padding para espaçamento lateral e superior */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
  }
  
  .header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    align-items: center; /* Centraliza links e logo verticalmente */
  }
  
  .header ul li {
    margin-right: 4rem;
  }
  
  
  .link {
    text-decoration: none;
    font-size: 1rem;
    font-family: "Krub";
    padding: .5rem 0;
    border-radius: 4px;
    color: black;
  }
  
  .logo img {
    width: 5rem;
    height: auto;
  }
  
  .header .logo {
    padding-right: 12rem; /* Padding lateral da logo */
  }

  @media (max-width:620px) {
    .header .logo {
      padding-right: 8rem; /* Padding lateral da logo */
    }
  }
  
 
  
