.produto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-top: 7rem;
}

.produto img{
    margin-bottom: 2rem;
}

.preco {
    padding: .5rem;
    background: #91fb5d;
    color: #017e01;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
}   

.descricao{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.2;
}

.produto img {
    height: 10rem;
    width: 10rem;
}

.ativa {
    opacity: 1;
    scale: 1.15;
}

.imagesDisplay {
    margin: 1rem 2rem;
}