.produto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-top: 7rem;
}

.produto img{
    margin-bottom: 2rem;
}

.preco {
    margin: 0;
    padding: .5rem .5rem;
    background: #404E4D;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    margin: 0rem 5rem;
}   

.descricao{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.2;
}

.produto img {
    height: 10rem;
    width: 10rem;
}
.produto aside {
    display:flex;
    flex-direction: column;
    border: 1px solid red;
}

.produto aside h1 {
    font-size: 1.75rem;
}

.produto aside a {
    padding: 1rem;
    border-radius: 5px;
    background: green;
}

.ativa {
    opacity: 1;
    scale: 1.15;
}

.imagesDisplay {
    margin: 1rem 2rem;
}